<!DOCTYPE html>
<html lang="en">

<head>
    <title>PlayCaller</title>
    <link rel="stylesheet" href="assets/stylesheets/main.css">
    <link rel="stylesheet" href="assets/lib/intl-tel-input/css/intlTelInput.css">

<body>

<div id="search-form">
    <h1><em>Play Caller</em></h1>
    <h2>Search over 3 billion phone numbers.</h2>
    <div>
        <input class="search-input" type="tel" id="phone">
        <button class="search-button" id="search">Search</button>
    </div>
</div>
<div class="center">
    <table>
        <tr>
            <th>Name</th>
            <th>Phone number</th>
            <th>Carrier</th>
            <th>Address</th>
            <th>Spam score</th>
            <th>Spam type</th>
        </tr>
        <tr>
            <td id="name"></td>
            <td id="phoneNumber"></td>
            <td id="carrier"></td>
            <td id="address"></td>
            <td id="spamScore"></td>
            <td id="spamType"></td>
        </tr>
    </table>
</div>

<script src="assets/lib/jquery/jquery.min.js"></script>
<script src="assets/lib/intl-tel-input/js/utils.js"></script>
<script src="assets/lib/intl-tel-input/js/intlTelInput.min.js"></script>
<script src="assets/javascripts/init.js"></script>
</body>

</html>